# Virtual Environment
/.venv/
_config.toml

# Python Compiled Files
__pycache__/
*.pyc

# IDE Configuration
/.idea/

# Database
/db/db.json

# Logs
logs/
debug.log

# Local Configuration
config.toml

# Maltego
local.mtz

# Transforms
transforms/__pycache__/

# Tools
tools/__pycache__/

# Modules
modules/**/__pycache__/

# Test Files
test.py